.page {
    height: 150px;
    width:350px;
    text-align: center;
    padding-top: 10px;
}

.columnHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}
