.tableHeader {
    background-color: #F1F2F3;
}

.tableHeader * {
    font-weight: bold !important;
}

.columnHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}

